.titulo{
    text-align: center;
}
.jumbotron{
    background-color: #ad9329;
}
body{
    background-color: #d0bb6b;
}
.jumbotron2{
    background-color: #ad9329;

}
#instagram1{
    color: #cc44c5;
}